.note-subject{
    font-size: 20px;
    background-color: rgb(51, 51, 51);
    padding:5px;
}
.note-entry{
    background-color: rgb(19, 19, 19);
    font-size: 20px;
    padding:5px;
}
.note-symbols{
    color: grey;
    font-size: 10px;
    background-color: rgb(14, 14, 14);

}
.delete-note{
    color: white;
    background-color: red;
    font-size: 12px;
    width: 25px;
    text-align: center;
    border-top-left-radius: 5px;
}
.edit-note{
    color: white;
    background-color: orange;
    font-size: 12px;
    width: 25px;
    text-align: center;
    border-top-right-radius: 5px;
}
.note-options{
    display: flex;

}
.note{
    width: 180px;
    overflow-wrap: break-word;
}

.modal-box{
    padding: 5px;
    border-radius: 5px;
}
