

#modal {

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#del-wat-lst-modal-background {

  background-color: rgba(70, 69, 69, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#det-wat-lst-modalContainer {
  width: 190px;
  height: 140px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  background-color: rgb(121, 130, 121);
  padding: 5px, 5px;
}
.wat-lst-del-mod-headr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wat-lst-del-mod-headr p {
  font-size: 12px;
}
.wat-lst-del-mod-bod p {
 font-size: 9px;
}