

#modal {

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#del-wat-lst-modal-background {

  background-color: rgba(129, 126, 126, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#det-wat-lst-modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  background-color: rgb(121, 130, 121);
  padding: 25px;
}