.profile-dropdown {
  position: absolute;
  background-color: white;
}

.searchbar-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.bar {
  display: flex;
  flex-direction: row;
  background-color: gray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.bar > div {
  margin: 5px;
}

.search-div {
  background-color: blue;
}
